:root {
  /* Colors */
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --background-color: rgba(255, 255, 255, 0);
  --heading-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-hover-color: #ffffff;
  --accent-color: #e6b908;
  --accent-color-rgb: 230, 185, 8;
  --contrast-color: #ffffff;
  
  /* Navigation Colors */
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #e6b908;
  --nav-mobile-background-color: #ffffff;
  
  /* Typography */
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --nav-font: 'Montserrat', sans-serif;
}

/* Index Page Header on Scroll */
.scrolled {
  --background-color: #ffffff;
  --heading-color: #32353a;
  --nav-color: #3a3939;
  --nav-hover-color: #e6b908;
} 